<!doctype html>
<html ng-app="plunkar">
<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script type="text/ng-template" id="add-form.tmpl">
        <form ng-submit="mainVm.addUser()">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" ng-model="mainVm.newUsers.firstName"
                       placeholder="Your First Name">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" ng-model="mainVm.newUsers.lastName"
                       placeholder="Your Last Name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" ng-model="mainVm.newUsers.email"
                       placeholder="example@domain.com">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" ng-model="mainVm.newUsers.address.city"
                       placeholder="Your City...">
            </div>
            <div class="form-group">
                <label for="company">Company</label>
                <input type="text" class="form-control" id="company" ng-model="mainVm.newUsers.company.name"
                       placeholder="Your Company...">
            </div>
            <button type="submit" class="btn btn-default">Add User</button>
        </form>
    </script>
</head>

<body>
<div ng-controller="MainController as mainVm">

    <p>{{'4237377548' | phone:'+1'}}</p>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" ng-include="'add-form.tmpl'"></div>
            <div class="col-sm-6" ng-include="'views/user-list.tmpl.html'"></div>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="app.js"></script>
<script src="main.controller.js"></script>
<script src="service/data.service.js"></script>
<script src="filter/phone.filter.js"></script>
</body>
</html>